In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
file_ratings_path = "data/movies/ratings.csv"
rating = pd.read_csv(file_ratings_path)
df=rating

In [3]:
def missing_values_analysis(data):
    na_columns = [col for col in data.columns if data[col].isnull().sum() > 0]
    n_miss = data[na_columns].isnull().sum().sort_values(ascending=True)
    ratio = (data[na_columns].isnull().sum() / data.shape[0] * 100).sort_values(ascending=True)
    missing_df = pd.concat([n_miss, np.round(ratio, 2)], axis=1, keys=['Total Missing Values', 'Ratio'])
    missing_df = pd.DataFrame(missing_df)
    return missing_df

In [4]:
def check_df(data, row_num=5, col_num=10):
    print("*************** Dataset Shape ***************")
    print("No. of Rows:", data.shape[0], "\nNo. of Columns:", data.shape[1])
    print("*************** Dataset Information ***************")
    print(data.info())
    print("*************** Types of Columns ***************")
    print(data.dtypes)
    print(f"*************** First {row_num} Rows ***************")
    print(data.iloc[:row_num,:col_num])
    print(f"*************** Last {row_num} Rows ***************")
    print(data.iloc[-row_num:,:col_num])
    print("*************** Summary Statistics of The Dataset ***************")
    print(data.describe([0.10, 0.25, 0.50, 0.70, 0.80, 0.90, 0.95, 0.99]).T)
    print("*************** Dataset Missing Values Analysis ***************")
    print(missing_values_analysis(data))

In [5]:
print(df)

         userId  movieId  rating               tstamp
0           206     4803     4.0  2003-04-07 13:52:01
1          5073    72731     4.0  2020-02-19 16:07:53
2          4739    91653     4.0  2020-12-28 15:35:58
3           535     3005     3.0  2008-12-26 05:38:11
4           465     4776     3.0  2008-08-13 20:22:36
...         ...      ...     ...                  ...
3908652    2099    77328     4.5  2017-02-18 23:29:18
3908653    2024   148652     3.5  2019-03-24 00:29:28
3908654    3751    60684     1.0  2019-04-06 22:25:38
3908655      17     2694     3.0  2007-11-09 16:11:26
3908656    1684     3948     3.5  2017-02-03 18:19:11

[3908657 rows x 4 columns]

In [6]:
check_df(df)

*************** Dataset Shape ***************
No. of Rows: 3908657
No. of Columns: 4
*************** Dataset Information ***************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3908657 entries, 0 to 3908656
Data columns (total 4 columns):
 #   Column   Dtype
---  ------   -----
 0   userId   int64
 1   movieId  int64
 2   rating   float64
 3   tstamp   object
dtypes: float64(1), int64(2), object(1)
memory usage: 119.3+ MB
None
*************** Types of Columns ***************
userId       int64
movieId      int64
rating     float64
tstamp      object
dtype: object
*************** First 5 Rows ***************
   userId  movieId  rating               tstamp
0     206     4803     4.0  2003-04-07 13:52:01
1    5073    72731     4.0  2020-02-19 16:07:53
2    4739    91653     4.0  2020-12-28 15:35:58
3     535     3005     3.0  2008-12-26 05:38:11
4     465     4776     3.0  2008-08-13 20:22:36
*************** Last 5 Rows ***************
         userId  movieId  rating               tstamp
3908652    2099    77328     4.5  2017-02-18 23:29:18
3908653    2024   148652     3.5  2019-03-24 00:29:28
3908654    3751    60684     1.0  2019-04-06 22:25:38
3908655      17     2694     3.0  2007-11-09 16:11:26
3908656    1684     3948     3.5  2017-02-03 18:19:11
*************** Summary Statistics of The Dataset ***************

             count          mean           std  min     10%     25%      50%  \
userId   3908657.0   2434.060851   1950.445219  1.0   215.0   727.0   1973.0
movieId  3908657.0  62535.529829  67051.572745  1.0  1221.0  3478.0  45447.0
rating   3908657.0      3.419320      1.022044  0.5     2.0     3.0      3.5

             70%       80%       90%       95%       99%       max
userId    3393.0    4417.0    5590.0    6138.0    6609.0    6724.0
movieId  93982.0  119145.0  172881.0  195305.0  225776.0  270592.0
rating       4.0       4.0       4.5       5.0       5.0       5.0
*************** Dataset Missing Values Analysis ***************
Empty DataFrame
Columns: [Total Missing Values, Ratio]
Index: []

In [7]:
def create_user_movie_df(dataframe):
    # comment
    comment_counts = pd.DataFrame(dataframe["movieId"].value_counts())
    print(comment_counts)

    # rare movies
    rare_movies = comment_counts[comment_counts["movieId"] <= 1000].index
    print(rare_movies)
    
    common_movies = df[~df["movieId"].isin(rare_movies)]
    # common_movies = df
    user_movie_df = common_movies.pivot_table(index=["userId"], columns=["movieId"], values="rating")
    return user_movie_df

user_movie_df = create_user_movie_df(rating)

        movieId
79132      5506
2571       5347
2959       5101
58559      4975
318        4945
...         ...
261523        1
254488        1
267804        1
108683        1
215387        1

[68044 rows x 1 columns]
Int64Index([  2023,   1333, 177763,  41997,  27904,   1690, 116897,   1982,
             71838,  60126,
            ...
            122025, 246818, 166978, 125435, 192607, 261523, 254488, 267804,
            108683, 215387],
           dtype='int64', length=67170)

In [8]:
user_movie_df.head()

movieId,1,2,6,10,16,19,32,34,39,47,...,206857,207313,208205,208703,209965,210861,217465,218537,225173,254726
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,5.0,NaN,...,NaN,4.5,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,NaN,3.0,NaN,3.5,NaN,NaN,5.0,4.0,NaN,...,NaN,4.0,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3.0,3.0,3.0,3.0,2.0,NaN,4.0,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
def user_based_recommender(random_user, user_movie_df, ratio=50, cor_th=0.65, score=3.5):
    random_user_df = user_movie_df[user_movie_df.index == random_user]
    # Chọn phim mà người dùng đã xem
    movies_watched = random_user_df.columns[random_user_df.notna().any()].tolist()
    print(f"Số lượng bộ phim mà người dùng ID: [{random_user}] đã xem là: {len(movies_watched)}")

    # ===== Truy cập dữ liệu và id của những người dùng khác đang xem cùng một bộ phim ===== #
    movies_watched_df = user_movie_df[movies_watched]
    user_movie_count = movies_watched_df.T.notnull().sum()
    user_movie_count = user_movie_count.reset_index()
    user_movie_count.columns = ["userId", "movie_count"]
    perc = len(movies_watched) * ratio / 100
    print(user_movie_count)
    # ===== Chọn những người dùng khác đã xem cùng một bộ phim ===== #
    users_same_movies = user_movie_count[user_movie_count["movie_count"] > perc]["userId"]
    print(users_same_movies)

    # ===== Xác định người dùng có hành vi giống nhất với người dùng để được đề xuất ===== #
    # Để làm điều này, chúng ta sẽ thực hiện 3 bước:
    #   Chúng tôi sẽ thu thập dữ liệu của Người dùng của chúng tôi và những người dùng khác.
    #   Chúng ta sẽ tạo mối tương quan df.
    #   Chúng tôi sẽ tìm những người dùng tương tự nhất (Top Users)

    final_df = pd.concat([movies_watched_df[movies_watched_df.index.isin(users_same_movies)],
                          random_user_df[movies_watched]])
    print(final_df)
    print(final_df.T)
    print(final_df.T.corr())
    print(final_df.T.corr().unstack())
    # print(final_df.T.corr().unstack().sort_values().drop_duplicates())
    corr_df = final_df.T.corr().unstack().sort_values().drop_duplicates()
    # print(corr_df)
    corr_df = pd.DataFrame(corr_df, columns=["corr"])
    corr_df.index.names = ['user_id_1', 'user_id_2']
    corr_df = corr_df.reset_index()
    # print(corr_df.head)
    print(corr_df)
    # print(corr_df[(corr_df["user_id_1" ] == random_user) & (corr_df["corr"] >= cor_th)])
    
    top_users = corr_df[(corr_df["user_id_1"] == random_user) & (corr_df["corr"] >= cor_th)][
        ["user_id_2", "corr"]].reset_index(drop=True) # select similar users have correlation over cor_th on random_user
    top_users = top_users.sort_values(by='corr', ascending=True)
    # print(top_users)
    top_users.rename(columns={"user_id_2": "userId"}, inplace=True)
    print(top_users)
    rating = pd.read_csv(file_ratings_path)
    top_users_ratings = top_users.merge(rating[["userId", "movieId", "rating"]], how='inner')
    print(top_users_ratings)
    # ===== Tính điểm đề xuất trung bình có trọng số ===== #
    top_users_ratings['weighted_rating'] = top_users_ratings['corr'] * top_users_ratings['rating']
    # print(top_users_ratings.head())
    # print(top_users_ratings.groupby('movieId').agg({"weighted_rating": "mean"}).head())
    
    # ===== Thuật toán đề xuất film ===== #
    recommendation_df = top_users_ratings.groupby('movieId').agg({"weighted_rating": "mean"})
    recommendation_df = recommendation_df.reset_index()
    # print(recommendation_df)
    # print(recommendation_df[recommendation_df["weighted_rating"] > 3.5])
    movies_to_be_recommend = recommendation_df[recommendation_df["weighted_rating"] > score].sort_values("weighted_rating", ascending=False)

    return movies_to_be_recommend

In [20]:
def ShowAnswer(UserID = 0, cor_th = 0.70, score = 4):
  print("=============== Thông tin ===============")
  print("                                         ")
  print(f"Users ID: \t {UserID}")
  print(f"Score : \t {score}")
  print(f"cor_th: \t {cor_th}")
  print("                                         ")
  print("=========== Phim được đề xuất ===========")
  print("                                         ")
  print(user_based_recommender(UserID, user_movie_df, cor_th=cor_th, score=score))

In [21]:
# @markdown ---
# @markdown ### Nhập dữ liệu:
random_user = 123  # @param {type:"number"}
score = 3 # @param {type:"slider", min:1, m67ax:5, step:0.5}
cor_th = 0.5 # @param {type:"slider", min:0.5, max:1, step:0.1}
if random_user == 0:
  random_user = int(pd.Series(user_movie_df.index).sample(1).values)
# @markdown ---

ShowAnswer(UserID=random_user, cor_th=cor_th, score=score)

=============== Thông tin ===============

Users ID: 	 123
Score : 	 3
cor_th: 	 0.5

=========== Phim được đề xuất ===========

Số lượng bộ phim mà người dùng ID: [123] đã xem là: 512
      userId  movie_count
0          1          123
1          2          113
2          3           89
3          4          167
4          5          260
...      ...          ...
6717    6720           56
6718    6721           47
6719    6722           47
6720    6723           94
6721    6724          115

[6722 rows x 2 columns]
4          5
5          6
6          7
8          9
9         10
        ...
6652    6655
6663    6666
6692    6695
6693    6696
6706    6709
Name: userId, Length: 1242, dtype: int64
movieId  6       16      19      32      34      39      47      50      \
userId
5           3.0     2.0     NaN     4.0     NaN     NaN     2.0     4.5
6           4.5     4.0     NaN     4.0     4.0     4.0     4.0     4.0
7           3.0     4.0     3.0     4.0     4.5     5.0     4.0     4.0
9           2.0     NaN     NaN     4.5     4.0     4.5     4.0     4.0
10          3.5     3.0     NaN     3.5     3.0     3.0     2.0     3.5
...         ...     ...     ...     ...     ...     ...     ...     ...
6666        3.0     3.5     NaN     NaN     NaN     NaN     3.5     3.0
6695        2.5     4.0     NaN     4.0     NaN     3.5     4.0     NaN
6696        NaN     3.5     NaN     NaN     NaN     3.5     4.0     3.5
6709        5.0     5.0     NaN     4.0     NaN     NaN     5.0     5.0
123         3.0     4.0     3.0     4.0     3.0     2.0     1.0     4.0

movieId  70      104     ...  202439  204698  205156  205441  206857  207313  \
userId                   ...
5           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
6           NaN     NaN  ...     4.0     4.0     4.0     4.0     4.0     4.0
7           3.0     3.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
9           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
10          NaN     NaN  ...     3.0     4.0     3.5     4.0     4.0     2.5
...         ...     ...  ...     ...     ...     ...     ...     ...     ...
6666        NaN     2.0  ...     4.5     4.0     4.0     3.5     4.5     4.0
6695        3.5     NaN  ...     4.5     4.0     3.5     4.0     3.0     4.0
6696        NaN     NaN  ...     4.0     3.0     2.0     NaN     4.5     4.0
6709        NaN     NaN  ...     5.0     3.0     3.0     NaN     4.0     3.5
123         2.0     2.5  ...     4.5     4.5     3.5     4.5     4.5     4.0

movieId  208703  209965  218537  225173
userId
5           NaN     NaN     NaN     NaN
6           NaN     NaN     3.5     NaN
7           NaN     NaN     NaN     NaN
9           NaN     NaN     NaN     NaN
10          4.0     3.5     NaN     NaN
...         ...     ...     ...     ...
6666        4.0     4.0     4.0     4.0
6695        4.0     4.0     3.5     NaN
6696        NaN     3.0     3.5     NaN
6709        5.0     4.0     3.0     NaN
123         4.5     4.5     3.0     2.0

[1243 rows x 512 columns]
userId   5     6     7     9     10    12    13    14    16    18    ...  \
movieId                                                              ...
6         3.0   4.5   3.0   2.0   3.5   3.5   NaN   4.0   3.0   4.0  ...
16        2.0   4.0   4.0   NaN   3.0   4.0   NaN   4.0   2.0   3.0  ...
19        NaN   NaN   3.0   NaN   NaN   NaN   NaN   2.0   3.0   NaN  ...
32        4.0   4.0   4.0   4.5   3.5   4.0   NaN   4.0   4.0   4.0  ...
34        NaN   4.0   4.5   4.0   3.0   3.5   4.0   4.0   4.0   5.0  ...
...       ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
207313    NaN   4.0   NaN   NaN   2.5   4.5   4.0   NaN   NaN   4.0  ...
208703    NaN   NaN   NaN   NaN   4.0   4.5   2.0   NaN   3.5   NaN  ...
209965    NaN   NaN   NaN   NaN   3.5   3.5   NaN   3.0   3.5   NaN  ...
218537    NaN   3.5   NaN   NaN   NaN   NaN   4.0   NaN   3.5   NaN  ...
225173    NaN   NaN   NaN   NaN   NaN   NaN   3.0   NaN   4.0   NaN  ...

userId   6622  6626  6630  6651  6655  6666  6695  6696  6709  123
movieId
6         NaN   4.0   4.0   4.0   4.0   3.0   2.5   NaN   5.0   3.0
16        NaN   NaN   2.5   4.0   3.0   3.5   4.0   3.5   5.0   4.0
19        2.5   NaN   3.0   4.0   3.5   NaN   NaN   NaN   NaN   3.0
32        5.0   4.0   4.0   3.5   4.5   NaN   4.0   NaN   4.0   4.0
34        3.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   3.0
...       ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
207313    NaN   4.0   3.0   4.0   4.0   4.0   4.0   4.0   3.5   4.0
208703    NaN   NaN   1.5   4.0   4.0   4.0   4.0   NaN   5.0   4.5
209965    NaN   NaN   NaN   4.0   NaN   4.0   4.0   3.0   4.0   4.5
218537    NaN   NaN   NaN   4.5   NaN   4.0   3.5   3.5   3.0   3.0
225173    NaN   NaN   NaN   4.5   NaN   4.0   NaN   NaN   NaN   2.0

[512 rows x 1243 columns]
userId      5         6         7         9         10        12        13    \
userId
5       1.000000  0.278178  0.213293  0.048102  0.157944  0.369878  0.310335
6       0.278178  1.000000  0.381000  0.313859  0.302814  0.512616  0.175578
7       0.213293  0.381000  1.000000  0.405811  0.137346  0.307536  0.298508
9       0.048102  0.313859  0.405811  1.000000  0.016601  0.238698  0.170034
10      0.157944  0.302814  0.137346  0.016601  1.000000  0.262745  0.079875
...          ...       ...       ...       ...       ...       ...       ...
6666   -0.094013  0.035076  0.087649  0.007251  0.044107  0.115010  0.007536
6695    0.181292  0.390757  0.380037  0.350624  0.137329  0.483966  0.154073
6696    0.090345 -0.127231 -0.076189 -0.131348 -0.101762 -0.074603  0.014054
6709    0.051818  0.176622  0.198593  0.164008  0.074239  0.189377  0.128166
123     0.080665  0.326070  0.300502  0.335998  0.264095  0.243937  0.010197

userId      14        16        18    ...      6622      6626      6630  \
userId                                ...
5       0.237178  0.198157  0.288641  ... -0.058844  0.229438 -0.207915
6       0.445484  0.009917  0.196897  ...  0.076417  0.449529 -0.079390
7       0.380081  0.050366  0.204498  ...  0.067224  0.349826 -0.025850
9       0.305445 -0.083963  0.161434  ...  0.021894  0.266451  0.112057
10      0.256928  0.093995  0.189873  ... -0.225407  0.251404 -0.246232
...          ...       ...       ...  ...       ...       ...       ...
6666    0.028777  0.159075  0.028041  ...  0.023443  0.284299  0.065798
6695    0.397706 -0.016276  0.092172  ... -0.095425  0.541137 -0.102758
6696   -0.021546  0.095692 -0.122833  ... -0.073841 -0.040465  0.053304
6709    0.297195  0.000127  0.055763  ... -0.141159  0.162362 -0.089716
123     0.290066 -0.128892  0.037351  ... -0.024701  0.230738 -0.014761

userId      6651      6655      6666      6695      6696      6709      123
userId
5       0.010142  0.014501 -0.094013  0.181292  0.090345  0.051818  0.080665
6       0.258201  0.038661  0.035076  0.390757 -0.127231  0.176622  0.326070
7       0.147126  0.067827  0.087649  0.380037 -0.076189  0.198593  0.300502
9       0.118734  0.012897  0.007251  0.350624 -0.131348  0.164008  0.335998
10      0.104749 -0.019535  0.044107  0.137329 -0.101762  0.074239  0.264095
...          ...       ...       ...       ...       ...       ...       ...
6666    0.262547  0.200582  1.000000  0.173704  0.120922  0.166724  0.080527
6695    0.338116  0.229297  0.173704  1.000000 -0.102306  0.274177  0.333979
6696   -0.129699 -0.005867  0.120922 -0.102306  1.000000  0.047619  0.013543
6709    0.184707  0.185687  0.166724  0.274177  0.047619  1.000000  0.106286
123     0.027556  0.062977  0.080527  0.333979  0.013543  0.106286  1.000000

[1243 rows x 1243 columns]
userId  userId
5       5         1.000000
        6         0.278178
        7         0.213293
        9         0.048102
        10        0.157944
                    ...
123     6666      0.080527
        6695      0.333979
        6696      0.013543
        6709      0.106286
        123       1.000000
Length: 1545049, dtype: float64
        user_id_1  user_id_2      corr
0            3242       1931 -0.440121
1             504       3242 -0.435765
2             411       3242 -0.435047
3            3242       1735 -0.427881
4            3242        765 -0.416729
...           ...        ...       ...
769079       4632       5065  0.850600
769080       3766       6213  0.869381
769081       4645       5155  0.934731
769082        123        123  1.000000
769083          5       1767       NaN

[769084 rows x 3 columns]
   userId     corr
0    1927  0.50949
1     123  1.00000
      userId     corr  movieId  rating
0       1927  0.50949     3752     2.0
1       1927  0.50949   104841     4.0
2       1927  0.50949     1201     3.5
3       1927  0.50949   103688     3.5
4       1927  0.50949     1270     3.5
...      ...      ...      ...     ...
3825     123  1.00000     7010     3.0
3826     123  1.00000     3526     4.0
3827     123  1.00000   190749     1.0
3828     123  1.00000     3993     4.0
3829     123  1.00000     4840     2.0

[3830 rows x 4 columns]
      movieId  weighted_rating
735      2300         5.000000
264       908         5.000000
446      1288         5.000000
441      1281         5.000000
431      1267         5.000000
...       ...              ...
3289   204698         3.014235
3036   143859         3.014235
2386    47997         3.014235
2792    96728         3.014235
2575    69122         3.014235

[1084 rows x 2 columns]